@font-face {
    font-family: 'AppleSDGothicNeo';
    font-style: normal;
    font-weight: 400;
    src: local('AppleSDGothicNeo'),
    url(./AppleSDGothicNeoB.ttf) format('ttf'),
    url(./AppleSDGothicNeoB.otf) format('otf'),
    url(./AppleSDGothicNeoB.woff) format('woff');
}
