/******************
******  공통  ******
*******************/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size:12px;
    letter-spacing: :0;
}
img {
    max-width: 100%;
}

.container {
    margin-bottom: 50px;
}

.down-visual {
    position: relative;
    height: 125px;
    background: #13c1b5 url('../img/logo.png') no-repeat center center;
    background-size: 265px 102px;
}

.down-visual h1 {
    text-indent: -9999px;
    position: absolute;
    width: 100px;
    height: 100px;
    display: inline-block;
    top: 9px;
    left: 60px;
}

.btn-down {
    position: absolute;
    bottom: 12px;
    right: 23px;
    display: inline-block;
    width: 93px;
}

.container .main-nav {
    width: 100%;
    display: box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
}

.container .main-nav li {
    height: 31px;
    text-align: center;
    display: block;
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
}

.container .main-nav li a {
    color: #515151;
    display: block;
    height: 100%;
    font-size: 14px;
    font-weight:600;
    line-height: 31px;
    background-color: #f1d975;
}

.container .main-nav li a.nav-active{
    background-color: #fff;
}

.content {
    margin-top: 5px;
}
footer {
    width: 100%;
    padding: 40px 0 15px;    
    text-align: center;
    z-index: 5;    
}
footer .l-copyright{
    font-size: 11px;
    color:#515151;    
}
/******************
******  메인  ******
*******************/

.content .live-broad {
    width: 100%;
    margin-bottom: 15px;
}

.content .live-broad .img {}

.content .live-broad .txt {
    text-align: center;
    margin-top:13px;
}

.content .live-broad .txt .title {
    font-size: 18px;
    color: #515151;
    font-weight: 600;
    line-height: 24px;
}

.content .live-broad .txt .time {
    font-size: 12px;
    color: #515151;
    line-height: 24px;
}

/******************
******  서브  ******
*******************/
.content .schedule-box .day{
    background-color:#bcdfd8;
    text-align:center;
    position:relative;
    height:110px;
    margin-bottom:15px;
}
.content .schedule-box .day h2{
    text-align:center;
    padding-top:18px;    
}
.content .schedule-box .day h2 img{
    width:91px;
}
.content .schedule-box .day button{
    position:absolute;
    bottom:23px;
    cursor: pointer;
    z-index:9999;
}
.content .schedule-box .day button.prev{
    left:12px;
}
.content .schedule-box .day button.next{
    right:12px;
}
.content .schedule-box .day button img{
    width:14px;
}
.content .schedule-box .day .show-day{
    overflow: hidden;
    position:relative;
    height:61px;
    padding:0 5%;
}
.content .schedule-box .day ul{    
    height:61px;
}
.content .schedule-box .day ul li{
    text-align:center;
    height:61px;
    float:left;
}
.content .schedule-box .day ul li a{
    display:block;
    margin:0 auto;
    height:57px;
    width:20%;
}
.content .schedule-box .day ul li.day-active a{
    border-bottom:4px solid #13c1b5;
}
.content .schedule-box .day ul li a span{
    display:block;
    color:#727272;
}
.content .schedule-box .day ul li.day-active a span{
    color:#000;
}
.content .schedule-box .day ul li a .num{
    font-size:18px;
    line-height:24px;
    font-weight:500;
}
.content .schedule-box .day ul li a .txt{}

.content .schedule-box .no-schedule{
    text-align:center;
    padding-bottom:15px;
}
.content .schedule-box .no-schedule img{
    width:242px;
}
.content .schedule-box .list-schedule{}
.content .schedule-box .list-schedule ul{}

.content .schedule-box .list-schedule ul li{
    padding:0 0 8px 70px;
    margin-bottom:14px;
    border-bottom:1px solid #d2d2d2;
}
.content .schedule-box .list-schedule ul li.active-list-schedule{
    background:url('../img/img-live.png') no-repeat;
    background-size: 52px 20px;
    background-position: 7px 7px;
}
.content .schedule-box .list-schedule ul li .time{
    font-size:15px;
    font-weight:bold;
    color:#5f5f5f;
    letter-spacing: 0;
}
.content .schedule-box .list-schedule ul li .title{
    font-size:12px;
    font-weight:bold;
    color:#5f5f5f;
    letter-spacing: 0;
}
.content .schedule-box .list-schedule ul li.active-list-schedule .time,
.content .schedule-box .list-schedule ul li.active-list-schedule .title{
    color:#07968c;
}
.content .box-review{
    background:#4d9e95;
    padding:13px 0;
}
.content .box-review h2{
    text-align:center;
    margin-bottom:13px;
}
.content .box-review h2 img{
    width:50px;
}
.content .box-review ul{
    overflow: hidden;
}
.content .box-review ul li{
    width:46%;
    float:left;
    margin:0 2%;
    
}
.content .box-review ul li span{
    display:block;
}

.content .box-review ul li .img{
    width:100%;
    border:1px solid #000;
}
.content .box-review ul li .img img{
    width:100%;
}
.content .box-review ul li .txt{
    line-height:15px;
    color:#fff;
    font-size:12px;
}
.content .box-review ul li .review-day{
    display:block;
    font-size:10px;
}
