@charset "utf-8";
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none}
img{vertical-align: top;}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:'돋움',dotum,sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
/* global */
.clear:after {content: "."; display:block; height:0; font-size:0; clear:both; visibility:hidden}
.clear {clear:both; min-height:1px; *height:1px;}
.show {display:block}
.hide {display:none}
.ir-wa {display:block; overflow:hidden; position:relative; z-index:-1; width:100%; height:100%}
.blind {display:block; overflow:hidden; position:absolute; left:-9999px; width:1px; height:1px; font-size:0; line-height:0; text-indent:-9999px}
.txt-blind {overflow:hidden; font-size:0; line-height:100px}
.txt-bold{font-weight:bold;}
.ellipsis{text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}

/* accessibility */
#accessibility {position:absolute; top:0; left:0; z-index:9999;  width:100%; text-align:left}
#accessibility a {display:block; position:absolute; top:-1000px; left:0; z-index:500; width:100%; text-align:center}
#accessibility a:focus, #accessibility a:active {position:absolute; top:0; z-index:1000; height:40px; background:#efefef; font:bold 12px dotum; color:#000; line-height:40px}