@font-face {
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 400;
    src: local('NanumGothic'), local('nanum-gothic'), url(./NanumGothic.otf) format('otf'),
    url(./NanumGothic.ttf) format('ttf'),    url(./NanumGothic.woff) format('woff');
}
